# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.pyre/
.ipynb_checkpoints
.coverage
htmlcov/
dist/
build/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
.history/

# Logs
*.log
